.imageBox {
    align-items: center;
    text-align: center;
}


.incr_decre {
    display: "flex";
    align-items: center;
    padding: "5px";
    gap: 10;
    margin: "auto";
    justify-content: center;
}

.incr_decre button {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.addtocartButton {
    padding: "5px";
    margin: "2px";
}